<tr>
  <td>{{foo}}</td>
  <td>{{bar}}</td>
  <td><a href="/whatevs/{{id}}">Show</a></td>
  <td><a href="/whatevs/{{id}}/edit">Edit</a></td>
  <td><a href="/whatevs/{{id}}" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a>
</tr>

