<%= form_for(@whatev) do |f| %>
  <% if @whatev.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whatev.errors.count, "error") %> prohibited this whatev from being saved:</h2>

      <ul>
      <% @whatev.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foo %><br />
    <%= f.text_field :foo %>
  </div>
  <div class="field">
    <%= f.label :bar %><br />
    <%= f.text_field :bar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
