<tr>
  <td><%= whatev.foo %></td>
  <td><%= whatev.bar %></td>
  <td><a href="/whatevs/<%= whatev.id %>">Show</a></td>
  <td><a href="/whatevs/<%= whatev.id %>/edit">Edit</a></td>
  <td><a href="/whatevs/<%= whatev.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
</tr>

