<p id="notice"><%= notice %></p>

<p>
  <b>Foo:</b>
  <%= @whatev.foo %>
</p>

<p>
  <b>Bar:</b>
  <%= @whatev.bar %>
</p>


<%= link_to 'Edit', edit_whatev_path(@whatev) %> |
<%= link_to 'Back', whatevs_path %>
